<!-- This is a basic home page -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class 10 data</title>
</head>

<body>
    <!-- List of all the students with their respective marks -->
    <h1>Class 10 Student Marks</h1>
    <ul>
        {#THIS IS HOW WE WRITE A COMMENT IN JINJA #}
        {% for student, score in marks.items() %}
        <li>
            {{ student }}: {{ score }}
            {% if score>=90 %}
            He is a good student
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>

</html>